.App {
  text-align: center;
}

body {
  background-color: #edf1f7 !important;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.createReviewbtn {
  float: right;
  position: relative !important;
  right: 10px;
  top: -35px;
  margin: 0 20px 20px 20px;
  margin-bottom: 10px !important;
}

.createBookbtn {
  margin: 0 20px 20px 20px;
}

.title,
.menu {
  display: inline-block;
}

.menu,
.title {
  float: left;
}

.title h1 {
  color: white;
  padding-right: 10px;
}

.ant-layout-header {
  padding: 0 23px !important;
}

.margintop20 {
  /* margin-top: 20px; */
  margin: 100px;
}

.floatleft {
  float: left;
}

.floatright {
  float: right;
}

.marginleft20 {
  margin-left: 20px;
}

.ant-carousel .slick-slide {
  line-height: 160px;
  overflow: hidden;
}

.ant-carousel .slick-dots {
  height: auto !important;
  top: -12px !important;
  right: 10px !important;
  width: auto !important;
}
.ant-carousel .slick-dots li.slick-active button,
.ant-carousel .slick-dots li button {
  background: #000 !important;
}

.ant-carousel .slick-slide img {
  display: initial !important;
}

.ant-carousel {
  background-color: papayawhip;
  height: 170px;
  border-radius: 10px;
  margin: 0 30px !important;
}

.landingBooks img,
.landingBookInfo,
.rate {
  display: inline-block;
}

.landingBookInfo {
  padding-left: 10px;
  line-height: 0;
  text-align: left;
}

.displaynone {
  display: none;
}

.booksTable {
  margin: 30px 60px;
  border-radius: 5px;
}

/* manipulating table */

.MuiToolbar-regular {
  background-color: #edf1f7 !important;
}

.MuiTableFooter-root {
  border-bottom: none !important;
}

.MuiInputBase-root {
  background-color: white !important;
  border-radius: 8px;
}
.MuiTablePagination-root:last-child {
  padding: 0 !important;
}

.MuiTableRow-footer td,
.MuiInput-underline:after,
.MuiInput-underline:before {
  border: 0 !important;
}

.MuiToolbar-gutters {
  padding: 0px !important;
}

/* .MUIDataTableToolbar-left-38 > div > svg {
  color: #edf1f7 !important;
} */
.MuiInputBase-input {
  margin: 7px !important;
}

/* manipulating table end */

.reviewsTable {
  padding: 30px 30px 40px 30px !important;
}

/* .ant-list-item-meta-content {
  flex: none !important;
} */

.ant-list-item-meta-title {
  margin-bottom: 0px !important;
}

.reviewText {
  text-align: justify;
}

.reviewStar {
  /* display: inline; */
  padding-left: 15px;
  float: left;
}

.bookReviews {
  margin: 60px 30px 30px 30px;
  background-color: white !important;
  border-radius: 5px;
}

.reviewTitle {
  padding-top: 20px;
  text-align: left;
  padding-left: 30px;
  margin-bottom: 0px;
  color: #1890ff;
}

.reviewSub {
  padding-left: 30px;
  text-align: left;
  color: #5fb2ff;
}

.bookReviewsDivider {
  margin: 14px 0px 0px 0px !important;
}

.reviewsHeader {
  margin-bottom: 10px;
}

.reviewDate {
  position: absolute;
  right: 32px;
}

.ant-list-pagination {
  background-color: #edf1f7 !important;
  margin-top: 0 !important;
  padding-top: 20px;
}

.ant-list-items li:last-child {
  border-radius: 5px;
}

.ant-tabs {
  overflow: unset !important;
}

.reviewsSort {
  display: inline;
  float: left;
  padding-left: 30px;
  padding-top: 5px;
}

.reviewsSortSelect {
  margin-left: 10px !important;
}

.reviewHelpful {
  float: left;
  font-size: 12px;
  color: darkgrey;
  padding-top: 10px;
}

.reviewOptions {
  float: right;
}

.individualBook {
  /* box-shadow: 0 6px 10px 4px rgba(0, 0, 0, 0.2); */
  position: relative;
  top: 0;
  transition: top ease 0.5s;
  padding-bottom: 40px;
}

.individualBook:hover {
  top: -3px;
}

.landingBookContain {
  /* margin-top: 80px; */
}

.bookInfoPic {
  box-shadow: 0 0 25px 2px rgba(0, 0, 0, 0.4);
}

.bookInfoContainer {
  background-color: white;
  width: 420px;
  height: 370px;
  display: table;
  border-radius: 5px;
}

.bookInfoContainer .bookImgContainer {
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

.reviewFormContainer {
  margin: 50px 100px;
  text-align: left;
}

.bookFormContainer {
  margin: 50px 100px;
  text-align: left;
}

.ant-form-item-label-left {
  float: left !important;
}

.reviewFormInput {
  height: 46px !important;
  border-color: transparent !important;
}

.reviewFormInput:focus,
.submitReviewTA:focus {
  border-color: transparent !important;
  box-shadow: none !important;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px white inset !important;
  -webkit-text-fill-color: #333 !important;
}

input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 50px white inset !important;
  -webkit-text-fill-color: #333 !important;
}

.submitReviewImg {
  position: absolute;
  right: 220px;
  top: 210px;
  box-shadow: 0 0 16px 4px rgba(0, 0, 0, 0.2);
}

.submitReviewTA {
  resize: none;
  border-color: transparent !important;
}

.ant-form-item-label > label::after {
  content: "" !important;
}

.landingSideMenu {
  border-radius: 5px;
  text-align: left;
  width: 250px !important;
}

.ant-menu {
  background: transparent !important;
}

.ant-menu-inline {
  border-right: none !important;
}

.ant-menu-item-selected {
  color: white !important;
  background-color: black !important;
}

.ant-menu-item-selected:hover {
  color: white !important;
}

.ant-menu-vertical .ant-menu-item::after,
.ant-menu-vertical-left .ant-menu-item::after,
.ant-menu-vertical-right .ant-menu-item::after,
.ant-menu-inline .ant-menu-item::after {
  border-right: none !important;
}

.list-inline {
  padding-left: 0;
  list-style: none;
}
.bookInfoText {
  text-align: left !important;
}
.landingSideMenuItem:hover {
  background-color: black !important;
  color: white !important;
}

.reviewsDeleteBtn {
  border: none;
  padding: 0;
  font-size: 12px;
  float: right;
  display: inline;
  color: #fb7b7b;
  background-color: transparent;
}

.reviewsDeleteBtn:hover {
  color: #ff5252;
}
