<form method="POST" action="">
    asin
    <input type="text" name="asin"/>
    <br>
    helpful
    <input type="text" name="helpful"/>
    <br>
    overall
    <input type="number" name="overall" />
    <br>
    reviewText
    <input type="text" name="reviewText" />
    <br>
    reviewTime
    <input type="text" name="reviewTime" />
    <br>
    reviewerID
    <input type="text" name="reviewerID" />
    <br>
    reviewerName
    <input type="text" name="reviewerName" />
    <br>
    summary
    <input type="text" name="summary" />
    <br>
    unixReviewTime
    <input type="number" name="unixReviewTime" />
    <br>
    <input type="submit" />
</form>